name: "Comprobar errores de formato Markdown"
on:
  push:
    paths:
      - "**/*.md"
      - "*.md"
  pull_request:
    paths:
      - "**/*.md"
      - "*.md"

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
      - uses: articulate/actions-markdownlint@v1
